<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\BackEnd\OA.BootStrapping.Common\packages.config" />
  <repository path="..\src\FrontEnd\OA.ExtranetOwnerSite\packages.config" />
  <repository path="..\src\FrontEnd\OA.IntranetAdminSite\packages.config" />
  <repository path="..\src\FrontEnd\OA.PublicWebSite\packages.config" />
</repositories>